body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(90deg, #000000, #000000);
}

.header {
    color: #fff;
    justify-content: center;
    display: flex;
    font-size: xx-large;
    padding-top: 2vh;
}
.container {
    width: 100vw;
    height: 90vh;
    display: flex;
}
.text-control {
    font-size: large;
    margin: 10px;
    width: 80%;
    height: 90%;
    padding: 0.5rem;
    background-color: #000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    resize: none;
}

.btn {
    border: 2px solid #fff;
    font-size: large;
    height: fit-content;
    width: 90%;
    margin: 10px;
    padding: 0.8rem;
    background-image: linear-gradient(90deg, #473f3f, #3c2e2e);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.dropdown option {
    font-size: large;
    border: 2px solid white;
    background-color: #3c2e2e;
    color: #fff;
}
ul {
    overflow: auto;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: 2px solid #fff;
    font-size: large;
    height: 52vh;
    width: 76%;
    margin: 10px;
    background-image: linear-gradient(90deg, #473f3f, #3c2e2e);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.textProp {
    font-size: large;
    color: #fff;
}
.voiceInfo {
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #473f3f, #3c2e2e);
    border: 2px solid #fff;
    margin: 10px;
    padding: 0.8rem;
}
.hide {
    display: none !important;
}